<%= header(:class => 'html front', :stylesheet_files => ["kmaps_engine/#{current_view.code=='roman.scholar' ? 'scholar' : 'popular'}"]) %>
<!-- Banner Region -->
<main class="main-wrapper container">
	<article class="main-content" role="main">
		<div class="row">
			<header class="col-xs-12 titlearea banner">
				<div role="banner">
					<h1 class="page-title"><i class="icon shanticon-subjects"></i><span><%= page_header_title %></span></h1>
					<nav class="breadwrap" role="navigation">
<%=                   f_breadcrumb %>
					</nav>
					<div class="banner-content"></div>
				</div>
			</header>
		</div> <!-- End of Banner Region -->
		<!-- Begin Content Row -->
		<div class="row row-offcanvas row-offcanvas-left">
			<!-- Sidebar First Region -->
<%=         universal_navigation :topics, @current_tab_id, custom_secondary_tabs(@current_tab_id) %>
			<!-- Begin Page Content -->
			<section class="content-section col-xs-12 col-sm-9 equal-height">
				<div class="tab-content">
					<article class="tab-pane main-col active" id="<%= @current_tab_id %>">
<%=                   yield %>
					</article>
<%=                 render partial: 'main/inactive_tab_content', locals: {current_app_id: :topics} %>
				</div>
			</section>
			<!-- END Content -->
			<!-- Sidebar Second Region -->
		</div>
	</article>
	<div id="search-flyout" class="region extruder right" role="search" style="display: none;">
		<div class="region region-search-flyout">
			<div id="block-kmaps-navigator-kmaps-navigator-block" class="block block-kmaps-navigator">
				<div class="content">
					<div id="NodeMenu">
					<!-- section id="kmaps-search" role="search" -->
						<!-- section class="view-section" style="display:block;" -->
							<h2 class="menu-item-browse"><%= ts 'browse.this' %></h2>
<%                          active_item = active_menu_item %>
							<div id="NodeTree" <%= ' style="display:none"' unless active_item == 'browse' %>>
								<div id="NodeTreeList">
<%                                if @feature.nil? %>
<%=                                 render :partial => "features/node_tree", :locals => { :children => @top_level_nodes } %>
<%                                else %>
							        <img src="http://thlib.org/global/images/ajax-loader.gif" alt="" style="display:inline;" /> <%= ts :loading %>
<%                                end
                                  unless @feature.nil? %>
<%=                                 javascript_on_load "NodeTree.loadExpandedTree(#{@feature.closest_hierarchical_feature_id_by_perspective(current_perspective)})" %>
<%                                end %>
							    </div>
							</div>
							<!-- /section -->
					<!-- /section -->
				    </div>
				</div>
			</div>
		</div>
	</div>		  
</main>
<%= render 'public/menu' %>
<%= footer %>